/* Student Projects Page CSS */
.center {
    margin-left: 50%;
}

.stitle {
    margin-top: 5vh;
}

.sbanner-row {
    display: table;
    /* Determine the spacing between each widget */
    border-spacing: 10vh 0vh;
    /* Determine the spacing around each row of widgets */
    margin-top: 8vh;
}

.sbanner-col {
    /* Change each widget to be displayed like they are cells of a row in a table */
    display: table-cell;
    width: 25%;
}

.swidget {
    /* The dimensions for the widget box displaying a Student Project */
    height: 60%;
    /* Border Settings (rounded rectangle with box shadow) */
    border: 1px solid #ebebeb;
    border-radius: 1vh;
    box-shadow: 0 1vh 2vh 0 rgba(0, 0, 0, 0.2);
    /* Transition animation time for hover animations */
    transition: 0.3s;
    /* Add Padding to the entire widget (Adds a layer of space around all the elements) */
    padding-bottom: 5vh;
    /* Since the widget is a link, remove all text-decorations */
    text-decoration: none;
    /* Set text color */
    color: black;
}

/* The hover animations for each widget (increase box shadow, make widget appear to popup) */
.swidget:hover {
    box-shadow: 0 2vh 4vh 0 rgba(0, 0, 0, 0.2);
    /* Since the widget is a link, remove all text-decorations */
    text-decoration: none;
    /* Set text color */
    color: black;
}

.w-img {
    /* Scale the image down */
    width: 60vh;
    /* Add some rounded borders to the image */
    border-radius: 1vh 1vh 0vh 0vh;
    margin-left: 50%;
}

.w-title {
    /* Text font settings */
    font-size: 4.5vh;
    width: 50vh;
    max-height: 15vh;
    overflow: hidden;
    /* Add margins to space out the widget */
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    margin-left: 50%;
    /* Set text color */
    color: black;
}

.w-desc {
    /* Text font settings */
    font-size: 2.75vh;
    width: 50vh;
    height: 19vh;
    overflow: hidden;
    margin-left: 50%;
    /* Set text color */
    color: black;
}

/* CSS Support for Mobile Viewing */
@media screen and (max-width: 450px) {

    .sbanner-row {
        margin: auto;
    }

    .sbanner-col {
        display: block;
        width: 100%;
        margin-bottom: 10vh;
    }

    .w-img {
        width: 100%;
    }

    .w-title {
        width: 90%;
        max-height: 15vh;
    }

    .w-desc {
        width: 90%;
        max-height: 50%;
    }

    .stitle {
        margin-bottom: 5vh;
    }

}

@media screen and (min-width: 450px) and (max-width: 1024px) {

    .sbanner-row {
        margin: auto;
    }

    .sbanner-col {
        display: block;
        width: 100%;
        margin-bottom: 10vh;
    }

    .stitle {
        margin-bottom: 5vh;
    }

}

h1 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

html {
    overflow-x: hidden;
}